header{
    height: 80px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
}

header .menu {
    display: flex;
    gap: 20px;
}

header .menu input, 
header .menu button {   
    padding: 10px;
}

header span#atualUserName {
    font-weight: bold;
}